* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}

html.sr .load-hidden {
  visibility: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

body {
  width: 100%;
  background: #0e0e0e;
  overflow-x: hidden;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.navBar::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: #fff;
  font-size: 50px;
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #fff;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
}

p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

/* navbar */

nav {
  margin-top: 20px;
  height: 70px;
  line-height: 70px;
}

nav ion-icon {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  color: #fff;
}

nav span {
  float: right;
  cursor: pointer;
}

/* SIDE MENU */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* header */

header {
  margin: 100px 0 200px 120px;
}

header p {
  width: 65%;
  margin-top: 10px;
}

/* work */

.work {
  text-align: center;
  width: 100%;
}

.work img {
  margin: 1%;
  width: 45%;
}

/* header 2 */

.header2 {
  font-family: "Poppins", sans-serif;
  margin: 130px 0 80px 40px;
}

/* work 2 */

.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}

/* footer */

footer {
  text-align: center;
  color: gray;
  margin: 60px auto;
}

/* RESPONSIVENSS */

@media only screen and (max-width: 991px) {
  header {
    text-align: left;
    margin: 100px 0 100px 30px;
  }

  header h1 {
    font-size: 36px;
  }

  header p {
    font-size: 12px;
    width: 90%;
  }

  .work img {
    margin: 2%;
    width: 90%;
  }

  .header2 {
    margin: 130px 0 40px 12px;
  }

  .header2 h1 {
    font-size: 36px;
  }

  .header2 p {
    font-size: 12px;
    width: 90%;
  }

  .work2 img {
    margin: 2%;
  }
}
